body{
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
body div:first-child{
    flex-direction: column;
}
input, button{
    margin-bottom: 20px
}